body{font-family: verdana(sans-serif);}

h1,h2 { color:#7b68ee;}

.evenrow{background-color:#b0c4de;}

h1{font-size: 2em;}

h2{font-size: 1em;}

nav {
    background-color: #00eeff;
    padding: 10px;
    margin-bottom: 30px;
}

nav a {
    color: #0051b2;
}

nav a:hover{
    background-color:#040033;
}