body{font-family: verdana(sans-serif);}

h1,h2 { color:#000000;}

.evenrow{background-color:#b0c4de;}

h1{font-size: 2em;}

h2{font-size: 1.3em;}

nav {
    background-color: #ca067f;
    padding: 10px;
    margin-bottom: 30px;
}

nav a {
    color: #ffffff;
}

nav a:hover{
    background-color:#040033;
}

@media only screen and (max-width: 600px) {
    nav a {max-width: 100%;}
    body {background-color: blue;}
}

@media only screen and (min-width: 920px) {
    body {background-color: blue;}
}